@model OrangeBricks.Web.Controllers.Property.ViewModels.RequestViewViewModel 

@{
    ViewBag.Title = "Request Viewing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("/Scripts/jquery.datetimepicker.js");
    <script>
        var dat = new Date();
        dat.setDate(dat.getDate() + 1);
        jQuery('#RequestViewDateTime').datetimepicker({
            format:'d.m.Y H:i',
            inline:true,
            lang:'en',
            startDate: dat,
            defaultDate: dat
        });
        function requestViewing() {
            // The default date value does not seem to work - this script will ensure there is a default value
            if (jQuery('#RequestViewDateTime').val() == undefined || jQuery('#RequestViewDateTime').val() == '') {
                var defaultDateVal = dat.getDate() + '.' + (dat.getMonth() + 1) + '.' + dat.getFullYear() + ' ' + dat.getHours() + ':00';
                jQuery('#RequestViewDateTime').val(defaultDateVal);
            }
            jQuery('form#ViewRequest').submit();
        }
    </script>
    }
@section styles {
    @Styles.Render("/Content/jquery.datetimepicker.css");
    }

<h2>Request Viewing</h2>

<p>When would you like to view property: @Model.PropertyType on @Model.StreetName ?</p>

@using (Html.BeginForm("ViewRequest", "Property", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ViewRequest" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.RequestViewDateTime, "Select the date and time : ", new { @class = "col-md-12" })
        <div class="col-md-12">
            @Html.Hidden("PropertyId", Model.PropertyId)
            @Html.TextBoxFor(m => m.RequestViewDateTime, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="Request Viewing" onclick="requestViewing();" />
        </div>
    </div>
}